@import "tailwindcss";

/* 🎨 Custom color palette */
@theme {
  --color-brand-base: #ecdfcc;
  --color-brand-primary: #181c14;
  --color-brand-secondary: #3c3d37;
  --color-brand-accent: #697565;
}
.font-sans {
  font-family: var(--font-montserrat), sans-serif;
}

.font-mono {
  font-family: var(--font-roboto-mono), monospace;
}
html {
  scroll-behavior: smooth;
}
